@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

.graphic-editor__canvas-field {
  position: relative;
}

.graphic-editor__canvas-field:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0px;
  background: rgba(255, 255, 255, 0.48);
  height: 1px;
  width: 100%;
  mix-blend-mode: difference;
}

.graphic-editor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #252525;
}

.graphic-editor__button {
  all: unset;
  padding: 5px;
  margin: 0 10px;
  font-size: 12px;
  background: #252525;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.graphic-editor__button:hover {
  cursor: pointer;
}

.graphic-editor__button:active {
  transform: translateY(2px);
}

.graphic-editor__main-menu {
  display: flex;
  margin: 10px 0;
}

.graphic-editor__button-import-image {
  color: #ffffff;
}

.graphic-editor__avalible-actions {
}

.graphic-editor__actions-history {
}

.graphic-editor__current-action-controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 10px 0;
}

.graphic-editor__input-rotate-image {
  min-width: 320px;
}

.graphic-editor__button_commit-changes {
  margin: 10px;
  padding: 10px;
}

.graphic-editor__button_commit-changes:active {
  background-color: #3e8e41;
}

.reminder {
  position: absolute;
  display: flex;
  top: 0px;
  left: 0px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #ffffffed;
}

.reminder-content {
  max-width: 640px;
  line-height: 26px;
  position: relative;
}

.reminder__title {
  padding: 20px;
  font-size: 18px;
}

.reminder__description {
  padding: 5px;
}

.reminder__description > p {
  display: block;
  margin-top: 10px;
}

.reminder__button-close {
  position: absolute;
  right: 0;
  top: 0;
  background: none;
  border: none;
  font-weight: 800;
  color: rgb(187, 0, 0);
}
.reminder__button-close:hover {
  cursor: pointer;
  color: red;
}
